container_commands:
 01_migrate:
  command: "source /opt/python/run/venv/bin/activate && python /opt/python/current/app/PPLJ/manage.py migrate --noinput"
  leader_only: true
 02_createsu:
  command: "source /opt/python/run/venv/bin/activate && python /opt/python/current/app/PPLJ/manage.py createsu"
  leader_only: true
 03_collectstatic:
  command: "source /opt/python/run/venv/bin/activate && python /opt/python/current/app/PPLJ/manage.py collectstatic --noinput"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "PPLJ.settings"
    "PYTHONPATH": "/opt/python/current/app/PPLJ:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: PPLJ/PPLJ/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"
